{% extends "Blogs/header.html" %}
{% block content %}
{% load crispy_forms_tags %}

<!-- Page Content -->
<div class="container">
  <div class="row">
    <!-- Blog Entries Column -->
    <div class="col-md-8">
      <h1 class="my-4">All Article List
        <!-- <small>Secondary Text</small> -->
      </h1>
      <!-- Blog Post -->
      {% for article in showarticle%}
      <div class="card mb-4">
        <div class="card-body">
            <div class="card-footer text-muted">
          <h2 class="card-title">Categories:<strong>{{article.Category}}</strong></h2>
        </div>
          <div class="row">
            {% if article.Image %}
            <div class="col-md-3">
              
        <img class="card-img-top" src="{{article.Image.url}}" alt="Card image cap" >
          
            </div>
            {% endif %}

            <div class="col-md-9"><h4 class="card-title">{{article.Article_title}}</h4>
            <p class="card-text">{{article.Article_Short_Descriptions|safe}}</p></div>
          </div>
          <a href="/Blogs/index/{{article.id}}" class="btn btn-primary">Read More &rarr;</a>
        </div>
        <div class="card-footer text-muted">
          {{article.publish_date}}&nbsp;<strong>Published by :</strong>&nbsp;
          <a href="">{{article.publish_by}}</a>
        </div>
      </div>
      {% endfor %}
      <!-- Pagination -->
      <ul class="pagination justify-content-center mb-4">
        <li class="page-item">
          <a class="page-link" href="#">&larr; Older</a>
        </li>
        <li class="page-item disabled">
          <a class="page-link" href="#">Newer &rarr;</a>
        </li>
      </ul>

    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">
      <!-- Categories Widget -->
      <div class="card my-4">
        <h5 class="card-header">Categories</h5>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#">Business</a>
                </li>
                <li>
                  <a href="#">Entertainment</a>
                </li>
                <li>
                  <a href="#">Politics</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#">Sport</a>
                </li>
                <li>
                  <a href="#">Technology</a>
                </li>
                <!-- <li>
                  <a href="#">Tutorials</a>
                </li> -->
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Side Widget -->
      <div class="card my-4">
        <h5 class="card-header">Side Widget</h5>
        <div class="card-body">
          You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
        </div>
      </div>

    </div>

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
{% endblock %}


